<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="nhập từ khóa">
        </div>
        <div class="select-group">
            <select name="gender" class="select-control">
                <option value="">Giới tính</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>